<div class="repair--delivery-popup-wrapper">
      <div class="repair-delivery-wrapp booking-process-wrapp">
        <div class="booking-progress-wrap first-step active">
          <div class="bookingimage"><img src="" height="auto" width="auto"></div>
          <div class="booking-progress-tab"></div>
          <div class="bookingprogress-bar"></div>
          <div class="previous_link">Go Back</div>
        </div>
        <div class="booking-progress-wrap second-step">
          <div class="bookingimage"><img src="" height="auto" width="auto"></div>
          <div class="booking-progress-tab"></div>
          <div class="bookingprogress-bar"></div>
          <div class="previous_link">Go Back</div>
        </div>
        <div class="booking-progress-wrap third-step">
          <div class="bookingimage"><img src="" height="auto" width="auto"></div>
          <div class="booking-progress-tab"></div>
          <div class="bookingprogress-bar"></div>
          <div class="previous_link">Go Back</div>
        </div>
        <div class="booking-progress-wrap fourth-step">
          <div class="bookingimage"><img src="" height="auto" width="auto"></div>
          <div class="booking-progress-tab"></div>
          <div class="bookingprogress-bar"></div>
          <div class="previous_link">Go Back</div>
        </div>
        <div class="booking-progress-wrap fifth-step">
          <div class="bookingimage"><img src="" height="auto" width="auto"></div>
          <div class="booking-progress-tab"></div>
          <div class="bookingprogress-bar"></div>
          <div class="previous_link">Go Back</div>
        </div>
      </div>
    </div>